{% extends 'base.html.twig' %}

{% block body %}

	<p>Le produit a été ajouté:</p>
	<p>id: {{ product.id }}</p>
	<p>name: {{ product.name }}</p>
	<p>price: {{ product.price }}€</p>
	<p>description: {{ product.description }}</p>
	
	
	
{% endblock %}